langchain
langchain-core
langchain-community
pypdf
pymupdf
tqdm
sentence-transformers
faiss-cpu
chromadb
langchain-text-splitters
langchain-groq
python-dotenv
streamlit
fastapi
uvicorn
python-multipart
